*{
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color:#4ea0ff;
    background-image: url(../img/pattern.png);
}

.logo{
    width: 20%;
    padding-top: 75px;
    padding-left: 10px;
}

/* MAIN TITLE */
.container-title{
    padding-left: 10px;
}
.title{
    font-size: xx-large;
}
.author, .date{
    font-size: x-large;
    color: #878787;
}

/* MAIN GALLERY */
.photogallery{
    margin-left: 10px;
    margin-top: 20px;
}
/* PARAGRAGO 1 e 2 */
.paragraph-1, .paragraph-2{
    margin-left:10px;
    margin-top:30px;
    font-size: x-large;
}
.p1, .p2{
    margin-top: 30px;
}
mark{
    background-color: #ffff00;
}
/* TABELLA */
.container-table{
    margin-top: 30px;
}
table{
    width: 99%;
    margin:10px;
    border-collapse: collapse;
}
thead{
    background-color:#20a9e5;
    color: white;
    text-align: left;
}
.data{
    width: 25%;
}
.result{
    width: 50%;
}
.line1, .line3{
    background-color:#b1e5f2;
}
td{
    padding-top: 5px;
    padding-bottom: 5px;;
}
