*{
    margin: 0;
    box-sizing: border-box;
}

/* HEADER */
header{
    background-color:#4ea0ff;
    background-image: url(../img/pattern.png);
}

.logo{
    width: 20%;
    padding-top: 75px;
    padding-left: 10px;
}

/* MAIN TITLE */
.container-title{
    padding-left: 10px;
}
.title{
    font-size: xx-large;
}
.author, .date{
    font-size: x-large;
    color: #878787;
}

/* MAIN GALLERY */
.photogallery{
    margin-left: 10px;
    margin-top: 20px;
}
/* PARAGRAGO 1 */
.paragraph-1{
    margin-left:10px;
    margin-top:30px;
    font-size: x-large;
}
.p1{
    margin-top: 30px;
}